.content__profile {
  margin: 0 auto 51px;
}

@media screen and (max-width: 920px) {
  .content__profile {
    margin-left: 19px;
    margin-right: 19px;
  }
}

@media screen and (max-width: 680px) {
  .content__profile {
    gap: 32px;
  }
}

@media screen and (max-width: 519px) {
  .content__profile {
    margin-bottom: 36px;
  }
}